#cta-habitat {
    .btn {
        background-color: $color-light;
        border: $color-light;
        color: $color-secondary;
        padding: 1rem;
    
        &:hover {
            scale: 1.1;
            transition: all 0.3s;
    
        }
    }
}

.secondary-btn {
    background-color: $color-secondary;
    border: $color-secondary;
    color: $color-light;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;

    &:hover {
        transition: all 0.2s;
        background-color: hsla(214, 71%, 24%, 0.950);
        border: $color-secondary;
        color: $color-light;
    }
}