// variables
$color-primary : hsl(167, 100%, 15%);
$color-secondary: hsl(214, 71%, 24%);
$color-accent: hsl(23, 100%, 24%);

$color-bg-primary : hsl(171, 16%, 92%);
$color-secondary: hsl(213, 23%, 92%);

$color-light: hsl(0, 0%, 97%);
$color-dark:hsl(0, 0%, 13%);

$font-family-title: "Asap", sans-serif;
$font-family-text: "Open Sans", sans-serif !default;