.hero {
    background: url('/assets/img/zebres.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;

    h1 {
        color: $color-light;
    }
}