#hero {
    background: url('/assets/img/zebres.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    h1 {
        color: $color-light;
    }
}

#additionnalinfo {

    .card-info {
            box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.10);
    }

    a {
        color: $color-secondary;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .arcadiainfo1 {
        padding-top: 8rem;
        margin-bottom: 6rem;

        p {
            font-size: 1.8rem;
        }

        .today {
            color : $color-accent;
        }
    }

    .arcadiainfo2 {
        padding-bottom: 8rem;

        .btn {
            background-color: $color-accent;
            border: $color-accent;
            color: $color-light;
        }
    }
}

#inconsinfos {
    background-color: $color-bg-secondary;

    h3 {
        color: $color-secondary;
    }

    p {
        color: $color-secondary;
    }
}

#habitats {

    .card-habitat {
        position: relative;

        h3 {
            font-size: 3.5rem;
            color: $color-light;
            position: absolute;
            top:80%;
            left:5%;
        }

        i {
            font-size: 3.5rem;
            color: $color-light;
            position: absolute;
            top:78%;
            right:5%;

            &:hover {
                scale: 1.2;
                transition: all 0.3s;

            }
        }
    }
}